Martin Duke's Ballot Comments

From @martinduke

> Thanks to Michael Scharf for his excellent TSVART review. I look forward to the
> dialogue about his comments, and in particular would like to concur that 1
> second seems like an awful high bound for "ultra-low latency."
> 
> - Please update the references to RFC793 and RFC4960 with their bis
> equivalents, which are both in the RFC editor queue.
> 
> - (6.3) While QUIC endpoints can unilaterally adopt congestion controls, this
> is of course absolutely the case in TCP and SCTP as well, so it's odd to single
> it out in this section.
> 
> - (6.2) implies that reducing bufferbloat is pretty new idea. As I'm sure the
> authors are well aware, delay-based congestion control goes back to the early
> 90s and TCP Vegas, though it's absolutely true that it's currently in a bit of
> a renaissance.

> Please update the references to RFC793 and RFC4960 with their bis equivalents, which are both in the RFC editor queue.

Done, except that 4960bis has now popped out as RFC9260. 

For these next two comments - our responses to reviews from @michael-scharf and @tfpauly, especially in dropping a lot of the archeology text about TCP, focusing on transport services, and working to make sure we are comparing apples to apples (2022 TCP to 2022 QUIC), have significantly improved the document throughout Section 6. The new discussion of "typically implemented in a kernel, although it doesn't have to be" and "typically implemented in userspace, although it doesn't have to be" is also intended to be more even-handed than the original text. 

> (6.3) While QUIC endpoints can unilaterally adopt congestion controls, this is of course absolutely the case in TCP and SCTP as well, so it's odd to single it out in this section.

> (6.2) implies that reducing bufferbloat is pretty new idea. As I'm sure the authors are well aware, delay-based congestion control goes back to the early 90s and TCP Vegas, though it's absolutely true that it's currently in a bit of a renaissance.

I'm still following up on a couple of things with @michael-scharf and @tfpauly, but -11 will be significantly better, thanks to the review teams. 